.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 400px;
}

.flight-plan-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  justify-content: flex-start;
}

.airport-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}

.details-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  padding: 16px;
}

.rotate {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
  font-size: 96px;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
