.airport-wrapper {
  align-items: center;
  border: 1px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  max-width: 500px;
  min-width: 400px;
  padding: 12px;
}

.airport-label {
  text-transform: uppercase;
  font-size: 24px;
  align-self: flex-start;
  padding: 0;
  margin: 0;
}
