.airport-wrapper {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  border: 3px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  font-size: 24px;
  gap: 24px;
  justify-content: space-between;
  max-width: 500px;
  min-width: 400px;
  padding: 12px;
}

.airport-label {
  align-self: flex-start;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.inner-wrapper {
  align-items: center;
  display: flex;
  gap: 64px;
  justify-content: flex-start;
}

.airport-label-wrapper {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.airport-label-wrapper p {
  font-weight: 600;
}

.departure {
  background-color: rgba(0, 255, 0, 0.1);
  border-color: green;
}

.arrival {
  background-color: rgba(255, 0, 0, 0.2);
  border-color: red;
}

.alternate {
  background-color: rgba(255, 174, 66, 0.2);
  border-color: rgb(255, 174, 66);
}



.runway-wrapper {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
  justify-self: flex-start;
}

.elevation {
  justify-self: flex-end;
}
